
.icon-ccw:before { content: '\e800'; } /* '' */
.icon-cw:before { content: '\e801'; } /* '' */
.icon-scissors:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-floppy:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-arrows-cw:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
